@media(max-width: 1300px) {
  .container {
    padding: 0 65px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .header-top__logo {
    width: 211px;
    height: 45px;

    img {
      width: 211px;
      height: 45px;
    }
  }

  .main-screen {
    height: 720px;
  }

  .main-screen__title {
    font-size: 64px;
    line-height: 64px;
    padding-top: 50px;
  }

  .main-screen__descr {
    font-size: 18px;
  }

  .main-mission__inner {
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
    padding: 0 65px;
  }

  .main-mission__item {
    width: 100%;
  }

  .main-mission__item-wrapper {
    order: -1;
  }

  .main-mission__item-text {
    margin-bottom: 30px;
  }

  .main-mission__img-wapper {
    width: 800px;
    margin: 0 auto;
  }

  .adv__item {
    width: 340px;
    padding: 20px;
    margin: 0 15px;
    margin-bottom: 20px;

  }

  .adv__title {
    font-size: 30px;
  }

  .global-stages__item-content--title {
    font-size: 30px;
  }

  .global-stages__item:nth-child(1) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(2) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(3) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(4) {
    grid-column: span 5;
  }

  .global-stages__item-content {
    padding-right: 90px;
  }
}

@media(max-width: 1200px) {
  .header-top__social {
    display: none;
  }

  .header-top__yuan {
    max-width: 145px;
  }

  .menu-list {
    &+.menu-list {
      margin-left: 30px;
    }

  }
}

@media(max-width: 1100px) {
  .container {
    padding: 0 50px;
  }

  .header-top {
    display: none;
  }

  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 490px;
      width: 100%;
      bottom: 0;
      background-color: $dark-blue;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 60px 50px 30px 50px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      // height: fit-content;
    }
  }

  .menu__btn {
    display: block;
    position: relative;
    z-index: 10;
  }

  .header-down {
    padding: 5px 0;

    &::before {
      background: transparent;
    }
  }

  .header-down__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .header-down__yuan {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 218px;
  }

  .header-down__logo {
    display: block;
  }

  .header-down__phone {
    display: block;
    margin-right: 30px;

  }

  .header-down-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-list {
    display: block;
    width: fit-content;
    margin-bottom: 15px;

    // text-align: left;
    &:hover {
      text-shadow:
        0px 0px 0px rgba(255, 255, 255, 1);
    }

    &+.menu-list {
      margin-left: 0;
    }
  }

  .menu-drop {
    max-width: fit-content !important;
  }

  .menu-drop.active {
    .menu-drop__wrapper {
      display: block;
      position: inherit;
      top: 0;
      padding: 15px 10px 0px 20px !important;
    }

    .menu-drop__arrow {
      svg {
        fill: $white;
      }
    }

    .menu-drop__list {
      width: fit-content;
      position: relative;

      &:hover {
        text-shadow:
          0px 0px 0px rgba(255, 255, 255, 1);
      }

      &::after {

        opacity: 1;
      }
    }
  }

  .nav-contacts {
    margin-top: 50px;
    display: block;
  }

  .nav-contacts {
    text-align: left;
  }

  .nav-phone__link,
  .nav-email__link,
  .nav-social {
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
  }

  .nav-phone__link,
  .nav-email__link {
    transition: all .3s;

    &:hover {
      text-shadow:
        0px 0px 10px rgba(255, 255, 255, 1);
    }
  }

  .main-screen {
    margin-top: 0;
    padding-top: 64px;
    height: 600px;
  }

  .main-screen__title {
    font-size: 48px;
    line-height: 48px;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  .main-screen__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .main-services__item-img {
    svg {
      width: 150px;
      height: 90px;
    }
  }

  .main-services__item {
    width: 280px;
  }

  .main-mission__inner {
    padding: 0 50px;
  }

  .main-mission__item-text {
    font-size: 24px;
  }

  .main-mission__img-wapper {
    width: 600px;
  }

  .offer__inner {
    margin-bottom: 200px;
  }

  .offer__img--img {
    position: absolute;
    bottom: -200px;
    right: 0;
  }

  .global-parking__item-images {
    height: 600px;
  }
}

@media(max-width: 1000px) {
  .header-top__logo {
    width: 140px;
    height: 30px;

    img {
      width: 140px;
      height: 30px;
    }
  }

  .adv__item {
    width: 300px;
    padding: 15px;
    margin: 0 15px;
    margin-bottom: 20px;

  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 40px;
  }

  .title {
    font-size: 36px;
    line-height: 36px;
  }

  body {
    font-size: 16px;
  }

  .header-top__phone {
    font-size: 16px;
    display: none;
  }

  .header-down__yuan {
    width: fit-content;
  }

  .menu__btn {
    margin-left: 80px;
  }

  .main-screen__title {
    padding-top: 50px;
  }

  .global-btn--interior {
    padding: 15px 30px;
    font-size: 16px;
  }

  .main-mission__inner {
    padding: 0 40px;
  }

  .main-mission__img-wapper {
    width: 500px;
  }

  .adv__title {
    font-size: 24px;
    line-height: 30px;
  }

  .global-stages__item-content--title {
    font-size: 24px;
    line-height: 30px;
  }

  .global-stages__item-interior {
    padding: 20px;
  }

  .global-stages__item-box--number {
    svg {
      height: 70px;
    }
  }

}
@media(max-width: 750px){
  .global-parking__item-images{
    display: none;
  }
}
// !!!!!!!!!!!!ВЕРТИКАЛЬ ВНИЗ!!!!!!!!!!!!!!
@media(max-height: 700px) {
  .main-screen__title {
    padding-top: 25px;
  }
}

// !!!!!!!!!!!!ВЕРТИКАЛЬ ВВЕРХ!!!!!!!!!!!!!!
@media(max-width: 600px) {
  .header-down__yuan {
    // display: none;
    width: 42px !important;

    .header-top__yuan-images {
      display: none;
    }

    #USD {
      display: none;
    }
  }

  .menu__btn {
    margin-left: 0;
  }

  .main-mission__item-text {
    font-size: 20px;
  }

  .main-mission__img-wapper {
    width: 100%;
  }

  .main-mission__inner {
    padding: 0;
  }

  .main-mission__item-wrapper {
    padding: 0 40px;
    padding-top: 30px;
  }

  .global-stages__item-interior {
    padding: 15px;
  }

  .global-stages__item-box--number {
    width: 50px;

    svg {
      height: 40px;
      width: 30px;
    }
  }

  .global-stages__item-content {
    padding-right: 50px;
  }
}

@media(max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .main-screen {
    height: 90vh;
  }

  .main-screen-bg--full {
    display: none;
  }

  .main-screen-bg--mobil {
    display: block;
  }

  .offer__inner {
    margin-bottom: 250px;
  }

  .offer__img--img {
    position: absolute;
    bottom: -300px;
    right: 0;
  }
}

@media(max-width: 400px) {
  .container {
    padding: 0 15px;
  }

  .main-mission__item-wrapper {
    padding: 30px 15px;
  }

  .main-mission__item-text {
    margin-bottom: 0;
  }
}