@media(max-width: 1700px) {
  .video-reviews__wrapper {
    margin-top: 30px;
  }

  .video-reviews__items {
    margin-bottom: 30px;
  }

  .video-reviews__item-title {
    font-size: 40px;
  }

  .video-reviews__images {
    width: 50%;
  }

  .video-reviews__item {
    padding-right: 0px;
  }

  .stages {
    .global-stages__item:nth-child(1) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(2) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(3) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(4) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(5) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(6) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(7) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(8) {
      grid-column: span 7;
    }

    .global-stages__item:nth-child(9) {
      grid-column: span 7;
    }
  }

}

@media(max-width: 1600px) {
  .guarantees__inner {
    max-width: 600px;
  }

  .contract__item-images {
    min-width: 700px;
  }

  .reviews__item {
    max-width: 500px;
    width: 100%;

  }
}

@media(max-width: 1400px) {
  .video-reviews__item {
    width: 44%;
  }

  .video-reviews__item-title {
    font-size: 32px;
  }

  .video-reviews__logo {
    margin-bottom: 30px;
  }

  .video-reviews__items-img {
    width: 80px;
    height: 80px;
  }

  .video-reviews__items-name {
    font-size: 24px;
  }

  .video-reviews__items {
    max-width: 190px;
  }

  .global-news__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .global-news__item {
    max-width: 450px;
    width: 100%;
  }

  .feedback__title {
    padding-top: 30px;
  }

  .feedback__bg-left {
    width: 655px;
    height: 565px;
    left: -50px;
    bottom: -30px;
  }

  .feedback__bg-right {
    width: 774px;
    height: 662px;
    right: -250px;
    bottom: -50px;
  }

  .tabs-content__item {
    height: 300px;
  }

  .product1-img {
    width: 502px;
    height: 526px;
  }

  .slider-for.slick-initialized.slick-slider {
    width: 502px !important;
  }

  .feedback-truck {
    min-height: 900px;

    .feedback__bg-left {
      left: -200px;
      bottom: 0;

      .feedback-bg-img {
        width: 665px;
        height: 548px;
      }
    }
  }

  .contract__inner {
    height: 600px;
  }

  .contract__item {
    &::before {
      content: '';
      width: 700px;
      height: 450px;
    }
  }

  .linkvideo__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .map__item {
    iframe {
      width: 600px;
      height: 400px;
    }
  }
}

@media(max-width: 1300px) {
  .container {
    padding: 0 65px;
  }

  .container-mini {
    padding: 0 65px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;

    .company__subtitle {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .header-top__logo,
  .footer__logo {
    width: 211px;
    height: 45px;

    img {
      width: 211px;
      height: 45px;
    }
  }

  .main-screen {
    height: 720px;
  }

  .main-screen__title {
    font-size: 64px;
    line-height: 64px;
    padding-top: 50px;
  }

  .starting-screen__title {
    font-size: 64px;
    line-height: 64px;
  }

  .main-screen__descr {
    font-size: 18px;
  }

  .main-mission__inner {
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
    padding: 0 65px;
  }

  .main-mission__item {
    width: 100%;
  }

  .main-mission__item-wrapper {
    order: -1;
  }

  .main-mission__item-text {
    margin-bottom: 30px;
  }

  .main-mission__img-wapper {
    width: 800px;
    margin: 0 auto;
  }

  .adv__item {
    width: 340px;
    padding: 20px;
    margin: 0 15px;
    margin-bottom: 20px;

  }

  .adv__title {
    font-size: 30px;
  }

  .global-stages__item-content--title {
    font-size: 30px;
  }

  .global-stages__item:nth-child(1) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(2) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(3) {
    grid-column: span 5;
  }

  .global-stages__item:nth-child(4) {
    grid-column: span 5;
  }

  .global-stages__item-content {
    padding-right: 90px;
  }

  .global-questions__subtitle {
    font-size: 24px;
  }

  .global-questions__item-title {
    font-size: 20px;
  }

  .global-portfolio__item-img {
    height: 230px;
  }

  .video-reviews__item {
    padding-left: 65px;
  }

  .feedback__bg-left {
    bottom: -80px;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__item {
    width: 250px;
  }

  .footer__item-5 {
    text-align: center;
  }

  .popular__wrapper {
    height: fit-content;
  }

  .tabs-content__item:nth-child(1) {
    display: none;
  }

  .tabs-content__item {
    // height: 275px;
    height: 20vw;
  }

  .tabs-content__item:nth-child(2) {
    grid-column: span 4;
  }

  .tabs-content__item:nth-child(3) {
    grid-column: span 2;
  }

  .tabs-content__item:nth-child(4) {
    grid-column: span 2;
  }

  .tabs-content__item:nth-child(5) {
    grid-column: span 4;
  }

  .tabs-content__item:nth-child(6) {
    grid-column: span 2;
  }

  .tabs-content__item:nth-child(7) {
    grid-column: span 2;
  }

  .tabs-wrapper {
    position: inherit;
  }

  .tab {
    display: inline-block;

    &+.tab {
      margin-left: 30px;
    }
  }

  .product2-img {
    max-width: 245px;
    height: 170px;
  }

  .product__box-title {
    font-size: 24px;
  }

  .guarantees__item-title {
    font-size: 30px;
  }
}

@media(max-width: 1200px) {
  .header-top__social {
    display: none;
  }

  .header-top__yuan {
    max-width: 145px;
  }

  .menu-list {
    &+.menu-list {
      margin-left: 30px;
    }

  }

  .global-reviews__item-interior {
    flex-wrap: wrap;
    justify-content: center;
  }

  .global-reviews__content {
    width: 100%;
    padding-right: 0;
  }

  .global-reviews__content-text {
    // height: 150px;
    height: fit-content;
    margin-bottom: 30px;
  }

  .global-reviews__images {
    width: 100%;
    justify-content: center;
  }

  .global-reviews__images-img {
    height: 270px;
    width: 444px;
  }

  .global-portfolio__inner {
    gap: 30px;
  }

  .global-portfolio__item {
    padding: 15px;
  }

  .global-portfolio__item-btn {
    margin-top: 30px;
  }

  .global-portfolio__descr-one {
    font-size: 16px;
  }

  .global-portfolio__descr-two {
    margin-top: 1px;
  }

  .product__wrapper {
    flex-wrap: wrap;
  }

  .product__box {
    order: -1;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .product__inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .product1-img {
    max-width: 800px;
    width: 100%;

  }

  .slider-for.slick-initialized.slick-slider {
    max-width: 800px;
    width: 100% !important;
    margin: 0 auto;
  }

  .guarantees__item-1 {
    &::before {
      content: '';
      width: 400px;
      height: 249px;
      right: -400px;
      bottom: -150px;
    }
  }

  .options__truck-item {
    max-width: 250px;
  }

  .options__item-truck__images {
    height: 170px;
  }

  .options__truck-item__title {
    font-size: 20px;
  }

  .reviews__item {
    max-width: 450px;
    width: 100%;
  }

  .map__address {
    font-size: 24px;
  }
}

@media(max-width: 1100px) {
  .container {
    padding: 0 50px;
  }

  .container-mini {
    padding: 0 50px;
  }

  .breadcrumbs__list-item {
    font-size: 16px;
    line-height: 16px;
  }

  .header-top {
    display: none;
  }

  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 490px;
      width: 100%;
      bottom: 0;
      background-color: $dark-blue;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 60px 50px 30px 50px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      // height: fit-content;
    }
  }

  .menu__btn {
    display: block;
    position: relative;
    z-index: 10;
  }

  .header-down {
    padding: 5px 0;

    &::before {
      background: transparent;
    }
  }

  .header-down__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .header-down__yuan {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 218px;
  }

  .header-down__logo {
    display: block;
  }

  .header-down__phone {
    display: block;
    margin-right: 30px;

  }

  .header-down-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-list {
    display: block;
    width: fit-content;
    margin-bottom: 15px;

    // text-align: left;
    &:hover {
      text-shadow:
        0px 0px 0px rgba(255, 255, 255, 1);
    }

    &+.menu-list {
      margin-left: 0;
    }
  }

  .menu-drop {
    max-width: fit-content !important;
  }

  .menu-drop.active {
    .menu-drop__wrapper {
      display: block;
      position: inherit;
      top: 0;
      padding: 15px 10px 0px 20px !important;
    }

    .menu-drop__arrow {
      svg {
        fill: $white;
      }
    }

    .menu-drop__list {
      width: fit-content;
      position: relative;

      &:hover {
        text-shadow:
          0px 0px 0px rgba(255, 255, 255, 1);
      }

      &::after {

        opacity: 1;
      }
    }
  }

  .nav-contacts {
    margin-top: 50px;
    display: block;
  }

  .nav-contacts {
    text-align: left;
  }

  .nav-phone__link,
  .nav-email__link,
  .nav-social {
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
  }

  .nav-phone__link,
  .nav-email__link {
    transition: all .3s;

    &:hover {
      text-shadow:
        0px 0px 10px rgba(255, 255, 255, 1);
    }
  }

  .main-screen {
    margin-top: 0;
    padding-top: 64px;
    height: 600px;
  }

  .main-screen__title {
    font-size: 48px;
    line-height: 48px;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  .starting-screen__title {
    font-size: 48px;
    line-height: 48px;
  }

  .main-screen__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .main-services__item-img {
    svg {
      width: 150px;
      height: 90px;
    }
  }

  .main-services__item {
    width: 280px;
  }

  .main-mission__inner {
    padding: 0 50px;
  }

  .main-mission__item-text {
    font-size: 24px;
  }

  .main-mission__img-wapper {
    width: 600px;
  }

  .offer__inner {
    margin-bottom: 200px;
  }

  .offer__img--img {
    position: absolute;
    bottom: -200px;
    right: 0;
  }

  .global-parking__item-images {
    height: 600px;
  }

  .global-portfolio__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-reviews__item {
    padding-left: 50px;
  }

  .feedback {
    height: 800px;
  }

  .feedback__bg-left {
    bottom: -10px;
  }

  .feedback__bg-right {
    width: 600px;
    height: 513px;
    right: -150px;
    bottom: 0px;
  }

  .interest__item {
    font-size: 24px;
  }

  .tabs-content__item:nth-child(7) {
    grid-column: span 5;
    height: 60px;
  }

  .starting-screen--mini {
    height: 500px;
  }

  .guarantees__inner {
    max-width: 400px;
  }

  .guarantees__item-img {
    width: 70px;
    height: 70px;
  }

  .contract__inner {
    height: 500px;
  }

  .contract__item {
    &::before {
      content: '';
      width: 500px;
      height: 321px;
    }
  }

  .reviews__item {
    max-width: 600px;
    width: 100%;
  }
}

@media(max-width: 1000px) {

  .header-top__logo,
  .footer__logo {
    width: 140px;
    height: 30px;

    img {
      width: 140px;
      height: 30px;
    }
  }

  .adv__item {
    width: 300px;
    padding: 15px;
    margin: 0 15px;
    margin-bottom: 20px;

  }

  .global-questions__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .global-questions__item-wrapper {
    // height: 200px;
    height: fit-content;
  }

  .global-questions__item-interior {
    padding: 15px;
  }

  .video-reviews__items-img {
    width: 60px;
    height: 60px;
  }

  .video-reviews__items {
    width: 155px;
  }

  .video-reviews__items-name {
    font-size: 20px;
  }

  .video-reviews__item-title {
    font-size: 24px;
  }

  .feedback__bg-shadow {
    padding: 80px 0;
  }

  .feedback__inner {
    width: 500px;
  }

  .feedback__wrapper {
    flex-wrap: wrap;
  }

  .feedback__items-input {
    padding: 20px 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .feedback__items-textarea {
    margin-bottom: 0;
    height: 180px !important;
    resize: none;
  }

  .feedback__bg-left {
    width: 450px;
    height: 390px;
  }

  .feedback__bg-right {
    width: 490px;
    height: 420px;
    bottom: 0;
  }

  .interest__item {
    padding: 20px;
  }

  .product__item {
    margin-bottom: 100px;
  }


  .feedback-truck {
    height: fit-content;

    .feedback__bg-left {
      left: -100px;

      .feedback-bg-img {
        width: 600px;
        height: 400px;
      }
    }

    .feedback__bg-right {
      bottom: 25%;
    }
  }

  .map__inner {
    flex-wrap: wrap;
  }

  .map__item {
    width: 100%;

    iframe {
      width: 700px;
    }
  }

  .map-map {
    margin: 0 auto;
    text-align: center;
  }
}

@media(max-width: 900px) {
  .product__inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .product1-img {
    max-width: 601px;
    width: 100%;
    height: 416px;
  }


  .slider-for.slick-initialized.slick-slider {
    max-width: 601px;
  }

  .contract__inner {
    height: 500px;
  }

  .contract__item {
    &::before {
      content: '';
      width: 400px;
      height: 256px;
    }
  }

  .moto__inner {
    flex-wrap: wrap;
    gap: 0;
  }

  .team__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 40px;
  }

  .container-mini {
    padding: 0 40px;
  }

  .breadcrumbs {
    padding-top: 80px;
  }

  .starting-screen__title {
    margin-bottom: 30px;
  }

  .starting-screen__adv-list {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .starting-screen__adv {
    margin-bottom: 30px;
  }

  .title {
    font-size: 36px;
    line-height: 36px;

    .company__subtitle {
      font-size: 24px;
      line-height: 24px;
    }
  }

  body {
    font-size: 16px;
  }

  .header-top__phone {
    font-size: 16px;
    display: none;
  }

  .header-down__yuan {
    width: fit-content;
  }

  .menu__btn {
    margin-left: 80px;
  }

  .main-screen__title {
    padding-top: 50px;
  }

  .global-btn--interior {
    padding: 15px 30px;
    font-size: 16px;
  }

  .main-mission__inner {
    padding: 0 40px;
  }

  .main-mission__img-wapper {
    width: 500px;
  }

  .adv__title {
    font-size: 24px;
    line-height: 30px;
  }

  .global-stages__item-content--title {
    font-size: 24px;
    line-height: 30px;
  }

  .global-stages__item-interior {
    padding: 20px;
  }

  .global-stages__item-box--number {
    svg {
      height: 70px;
    }
  }

  .global-news__item-title {
    font-size: 18px;
  }

  .interest__inner {
    padding: 0 40px;
  }

  .interest__item {
    grid-column: span 5 !important;
  }

  .tabs-content__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .tabs-content__item {
    height: 250px;
  }

  .tab {
    font-size: 20px;

    &+.tab {
      margin-left: 20px;
    }
  }

  .tabs-content__item:nth-child(7) {
    grid-column: span 2;
    height: auto;
  }

  .product2-img {
    max-width: 200px;
    height: 140px;
  }

  .guarantees__inner {
    max-width: 100%;
    padding: 0 40px;
  }

  .guarantees__item-title {
    font-size: 24px;
  }

  .guarantees__item-img {
    width: 50px;
    height: 50px;
  }

  .guarantees__item-1,
  .guarantees__item-2,
  .guarantees__item-3 {
    &::before {
      display: none;
    }
  }

  .company__inner {
    flex-wrap: wrap;

  }

  .company__item {
    margin: 0 auto;
  }

  .map__item {
    iframe {
      width: 500px;
    }
  }

}

@media(max-width: 750px) {
  .global-parking__item-images {
    display: none;
  }

  .slick-prev {
    display: none;
  }

  .slick-next {
    display: none;
  }

  .global-reviews__wrapper {
    padding: 0;
  }

  .feedback__bg-right {
    // display: none;
    top: 150px;
    width: 600px;
    height: 513px;
  }

  .feedback {
    height: 850px;
  }

  .feedback__title {
    margin-bottom: 30px;
  }

  .feedback-truck {
    height: 1200px;

    .feedback__bg-right {
      top: auto;
      bottom: 30%;
    }
  }

  .questiontab {
    margin-right: 20px;
    margin-bottom: 15px;
  }
}

@media(max-width: 700px) {
  .global-portfolio__descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .global-portfolio__descr-one {
    width: 100%;
    margin-bottom: 5px;
  }

  .global-portfolio__descr-two {
    margin-top: 0;
  }

  .global-portfolio__descr-list {
    &+.global-portfolio__descr-list {
      margin-left: 0;
    }
  }

  .global-portfolio__item-img {
    height: 190px;
  }

  .video-reviews__inner {
    flex-wrap: wrap;
  }

  .video-reviews__item {
    width: 100%;
    text-align: center;
    padding: 30px 40px 30px 40px;
  }

  .video-reviews__wrapper {
    // justify-content: space-around;
    width: 400px;
  }

  .video-reviews__images {
    width: 100%;

    img {
      width: 100%;
      height: 500px;
      // object-fit: contain;
    }
  }

  .product2-img {
    max-width: 180px;
    height: 110px;
  }

  .contract__text {
    margin-bottom: 30px;
  }

  .contract__inner {
    height: 600px;
  }

  .linkvideo__inner {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: fit-content;
  }
}

// !!!!!!!!!!!!ВЕРТИКАЛЬ ВНИЗ!!!!!!!!!!!!!!
@media(max-height: 700px) {
  .main-screen__title {
    padding-top: 25px;
  }

  .breadcrumbs {
    padding-top: 70px;
  }
}

// !!!!!!!!!!!!ВЕРТИКАЛЬ ВВЕРХ!!!!!!!!!!!!!!
@media(max-width: 600px) {
  .header-down__yuan {
    // display: none;
    width: 42px !important;

    .header-top__yuan-images {
      display: none;
    }

    #USD {
      display: none;
    }
  }

  .menu__btn {
    margin-left: 0;
  }

  .main-mission__item-text {
    font-size: 20px;
  }

  .main-mission__img-wapper {
    width: 100%;
  }

  .main-mission__inner {
    padding: 0;
  }

  .main-mission__item-wrapper {
    padding: 0 40px;
    padding-top: 30px;
  }

  .global-stages__item-interior {
    padding: 15px;
  }

  .global-stages__item-box--number {
    width: 50px;

    svg {
      height: 40px;
      width: 30px;
    }
  }

  .global-stages__item-content {
    padding-right: 50px;
  }

  .global-reviews__item-interior {
    padding: 10px;
  }

  .global-reviews__content-rating--list {
    width: 20px;
    height: 20px;

    &+.global-reviews__content-rating--list {
      margin-left: 0px;
    }

  }

  .global-reviews__content-rating {
    width: 120px;
  }

  .global-portfolio__inner {
    grid-template-columns: repeat(1, 1fr);
    // justify-content: center;
  }

  .global-portfolio__item {
    margin: 0 auto;
  }

  .global-portfolio__item-img {
    height: 250px;
  }



  .global-portfolio__descr {
    flex-wrap: nowrap;
    justify-content: inherit;
  }

  .global-portfolio__descr-one {
    width: fit-content;
    margin-bottom: 0px;
  }

  .global-portfolio__descr-two {
    margin-top: 2px;
  }

  .global-portfolio__descr-list {
    &+.global-portfolio__descr-list {
      margin-left: 5px;
    }
  }

  .video-reviews__images {
    img {
      height: 400px;
    }
  }

  .global-news__inner {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .global-news__item {
    max-width: 100%;
  }

  .feedback {
    height: 750px;
  }

  .feedback__inner {
    width: fit-content;
    padding: 15px;
  }

  .feedback__bg-right {
    width: 453px;
    height: 387px;
    top: 200px;
  }

  .feedback__bg-left {
    bottom: -40px;
  }

  .feedback__title {
    padding-top: 0;
  }

  .feedback__items-textarea {
    height: 140px !important;
  }

  .footer__item {
    width: 260px;
  }

  .footer__inner {
    justify-content: flex-start;
  }

  .footer__item-5 {
    text-align: left;
  }

  .close__btn {
    top: -30px;
    right: 8px;
  }

  .interest__inner {
    padding: 0px;
  }

  .interest__item {
    font-size: 20px;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .tab {
    padding-right: 20px;
    margin-bottom: 10px;

    &+.tab {
      margin-left: 0;
    }
  }

  .tabs-content__item {
    height: 200px;
  }

  .slider-nav__wrapper {
    padding: 0;
  }

  .product1-img {
    max-width: 396px;
    width: 100%;
    height: 275px;
  }


  .slider-for.slick-initialized.slick-slider {
    max-width: 396px;

  }

  .product__item {
    margin-bottom: 50px;
  }

  .product__box-title {
    font-size: 20px;
  }

  .feedback-truck {
    height: 1100px;

    .feedback__inner {
      padding: 20px 0;
    }
  }

  .feedback__wrapper:nth-child(2) {
    margin-bottom: 30px;
  }

  .moto__item-title {
    font-size: 24px;
  }

  .team__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .team__item-img {
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 400px;
    border-radius: 5px;
  }

  .team__item {
    text-align: center;
  }

  .team__name {
    font-size: 24px;
  }

  .map__item {
    iframe {
      width: 400px;
      height: 250px;
    }
  }
}

@media(max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .main-screen,
  .starting-screen {
    height: 90vh;
  }

  .starting-screen__shadow-bg {
    background-image: none !important;
  }

  .main-screen-bg--full,
  .starting-screen-bg--full {
    display: none;
  }

  .main-screen-bg--mobil,
  .starting-screen-bg--mobil {
    display: block;
  }

  .offer__inner {
    margin-bottom: 250px;
  }

  .offer__img--img {
    position: absolute;
    bottom: -300px;
    right: 0;
  }

  .global-reviews__images {
    width: 256px;
    height: 154px;

    img {
      width: 256px;
      height: 154px;
    }
  }

  .tabs-content__item {
    height: 150px;
  }

  .tabs-content__item:nth-child(7) {
    grid-column: span 3;
  }

  .product2-img {
    max-width: 180px;
    height: 140px;
  }

  .starting-screen--mini {
    height: 600px;
  }

  .questiontab {
    font-size: 20px;
  }

  .contract__inner {
    height: 500px;
  }

  .contract__item {
    &::before {
      content: '';
      width: 300px;
      height: 192px;
    }
  }
.map__address{
  font-size: 20px;
}
  .map__item {
    iframe {
      width: 300px;
      height: 250px;
    }
  }
}

@media(max-width: 400px) {
  .container {
    padding: 0 15px;
  }

  .container-mini {
    padding: 0 15px;
  }

  .main-mission__item-wrapper {
    padding: 30px 15px;
  }

  .main-mission__item-text {
    margin-bottom: 0;
  }

  .global-portfolio__descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .global-portfolio__descr-one {
    width: 100%;
    margin-bottom: 5px;
  }

  .global-portfolio__descr-two {
    margin-top: 0px;
  }

  .global-portfolio__descr-list {
    &+.global-portfolio__descr-list {
      margin-left: 0px;
    }
  }

  .video-reviews__item {
    padding: 30px 15px 30px 15px;
  }

  .video-reviews__images img {
    height: 300px;
  }

  .product2-img {
    max-width: 180px;
    height: 120px;
  }

  .guarantees__inner {
    padding: 0 15px;
  }

  .team__item-img {
    // width: fit-content;
    height: 300px;
    object-fit: cover;
  }
}