%BelR {
  font-family: 'BellotaText-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}
%BelB {
  font-family: 'BellotaText-Bold', sans-serif;
  font-weight: normal;
  display: swap;
}

// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;