%BelR {
  font-family: 'BellotaText-Regular', sans-serif;
  font-weight: normal;
  // display: swap;
}
%BelB {
  font-family: 'BellotaText-Bold', sans-serif;
  font-weight: normal;
  // display: swap;
}

$black: #000000;
$dark-blue: #1D202F;
$grey-blue: #7A848D;
$dark-grey: #666666;
$grey: #D9D9D9;
$light-grey: #F5F5F5;
$white: #ffffff;
$red: #DF0000;

%text{
  text-shadow:
      0px 0px 10px rgba(120, 212, 255, 1);
      color: #78D4FF;
}
